.cards {
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    width: 300px;
    padding: 20px;
  }
  
  .cards:hover {
    transform: scale(1.07);
  }

  .cards > img {
    
    min-width: 300px;
    min-height: 200px;
    width: 100px;
    height: 20vh;
    align-items: center;
  }
  .card-infos>p{
    color: gray;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  .card-infos>h2{
      text-align: center;
  }

  